.server-crashes-cache/
cache/
data/**/*.bin
modules/
node_modules/
resources/main/
resources/mods/
resources/core/
resources/webview/
resources/sounds/**/*.ogg
resources/images/**/*.png
resources/images/**/*.jpg
resources/images/**/*.jpeg
resources/images/**/*.svg
resources/images/**/*.bmp
resources/images/**/*.webp
resources/fonts/**/*.otf
resources/fonts/**/*.ttf
resources/rmlui/plugins
webview/public/sounds/**/*.ogg
webview/public/images/**/*.png
webview/public/images/**/*.jpg
webview/public/images/**/*.jpeg
webview/public/images/**/*.svg
webview/public/images/**/*.bmp
webview/public/images/**/*.webp
webview/public/fonts/**/*.ttf
webview/public/fonts/**/*.otf
screenshots/*.jpg
altv-crash-handler.exe
altv-server.exe
libnode.dll
server.log
webview/pages/plugins.ts
.env
test/
tmp/
src/scratchpad/*.ts

src/plugins/sandbox-*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?